
.card {
    width: 280px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
  }
  
  .card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: auto
  }
  
  .card:hover {
  
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
  }
  